<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{title}}</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #f4f4f4;
                color: #333;
                padding: 20px;
            }
            .container {
                background: #fff;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            }
            h1 {
                color: #007bff;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>{{title}}</h1>
            <p>{{message}}</p>
            {{#if otp}}
            <p>Mã OTP của bạn là: <strong>{{otp}}</strong></p>
            {{/if}}
            <p>Mã OTP có hiệu lực trong {{step}} phút</p>
            <p>Trân trọng,<br />Vũ Minh Hiếu</p>
        </div>
    </body>
</html>
